body{
    padding: 0;
    margin: 0;
}
.nav{
    height: 80px;
    background-color:cadetblue
}

.link{
    height: 50px;
    width: 50px;
    background-color: chartreuse;
}

.main{
height: 100vh;
    background-color: rgb(199, 255, 144);
    display: flex;
}
.sideBar{
    width: 200px;
    background-color: rgb(253, 255, 144);
}
.section{
    height: 80vh;
    background-color: rgb(144, 242, 255);
}